.country-dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-rows: 70px calc(100vh - 70px);


  #country-content {
    grid-row: 2;
    padding: 2rem 1rem;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777777;
      outline: 1px solid slategrey;
      border-radius: 2px;
    }
  }
  @media only screen and(max-width:730px) {
    max-width: 730px;
    #country-nav {
      .user-profile {
        margin-right: 0;
      }
      .links {
        margin: 0 1rem;
      }
    }
  }
  @media only screen and(max-width:665px) {
    max-width: 665px;

    #country-nav {
      .logo {
        max-width: none;
        flex: 1;
      }
      .links {
        display: none;
      }
      .user-profile {
        margin-right: 0;
      }
      .menu {
        height: inherit;
        max-height: inherit;
        padding: 1.5rem 0;
        display: block !important;
        margin-left: 0.5rem;
        img {
          height: 100%;
          width: auto;
          cursor: pointer;
        }
      }
    }
  }
}
