* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f8f8ff;
}
html {
  overflow-y: auto !important;
}

#catholic-app {
  font-family: "Roboto Slab", "Times New Roman", Times, serif, serif;
  position: absolute;
  letter-spacing: 0.5px;
  line-height: 150%;
  min-height: 100vh;
  min-width: 100%;
  background-color: #f8f8ff;
  overflow: auto;
  max-width: 1024px;
  color: #2c3e50;
  .is-primary {
    color: ghostwhite;
    background-color: blueviolet;
    font-family: inherit;
    &button:hover,
    &.is-hovered {
      background-color: #714dd2;
    }
  }
  .no-select {
    user-select: none;
  }
  .br-1 {
    border-radius: 2px !important;
    div,
    button,
    input,
    select,
    textarea {
      border-radius: 2px !important;
    }
  }
  .no-shadow {
    input,
    textarea {
      box-shadow: none !important;
    }
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .p-3 {
    padding: 1rem;
  }
  .p2 {
    padding: 0.75rem;
  }
  .p-1 {
    padding: 0.5rem;
  }
  .mr-1 {
    margin-right: 0.25rem;
  }
  .mr-2 {
    margin-right: 0.5rem;
  }
  .mt-3 {
    margin-top: 1rem;
  }
  .mb-3 {
    margin-bottom: 1rem;
  }
  .w-100 {
    width: 100%;
  }
  .w-50 {
    width: 50%;
  }
  .title,
  .label {
    color: #2c3e50;
  }
  .truncate {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ema-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
  }
  .ema-grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 290px));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    justify-content: start;
    align-items: center;
  }
  .ema-header {
    display: flex;
    padding: 0.25rem;
    align-items: center;
    border-bottom: 2px solid #999;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    h5 {
      font-size: 1.35rem;
      font-weight: bold;
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 0;
      flex: 1;
    }
    .field {
      margin-bottom: 0;
      margin: 0 1rem;

      input {
        border-radius: 1px;
        font-size: 1rem;
        font-family: inherit;
        border: 1px solid #ccc;
        box-shadow: none;
        color: #2c3e50;
      }
    }
  }
  .ema-add-header {
    background: blueviolet;
    padding: 0.5rem 1rem;
    color: ghostwhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    h5 {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .ema-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    button {
      width: 100%;
      margin-left: auto;
      padding: 4px 2rem;
      height: fit-content;
      font-family: inherit;
      border-radius: 2px;
    }
  }
}
.iziToast {
  border-radius: 1px !important;
  font-family: "Roboto Slab", Helvetica, Arial, serif !important;
  &::after {
    box-shadow: 0 5px 10px 0 rgba(32, 33, 36, 0.46) !important;
    border-radius: 1px !important;
  }
}

.loading-primary,
.loading-light {
  position: relative;
  pointer-events: none;
  text-indent: -99999px;
}
.loading-primary:after,
.loading-primary:before,
.loading-light:after,
.loading-light:before {
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  content: " ";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  border: solid 3px transparent;
}
.loading-light:before {
  border-left-color: #fff;
  animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 0.5s infinite linear;
  -moz-animation: rotate 0.5s infinite linear;
  -o-animation: rotate 0.5s infinite linear;
}
.loading-light:after {
  border-bottom-color: #fff;
  animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
}
.loading-primary:before {
  border-left-color: #2c3e50;
  animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 0.5s infinite linear;
  -moz-animation: rotate 0.5s infinite linear;
  -o-animation: rotate 0.5s infinite linear;
}
.loading-primary:after {
  border-bottom-color: #2c3e50;
  animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
  -moz-animation: rotate 1s infinite linear;
  -o-animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

.select-grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: start;
  justify-content: center;
  margin-bottom: 1.5rem;

  .field {
    margin-bottom: 0;
  }
  .select {
    width: 100%;
  }
}

.page-loading {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  .loading-component {
    height: 50px;
    width: 50px;
  }
  p {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
}
.page-error {
  grid-column: 1/-1;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
  }
}

.input[disabled] {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: inherit;
}

@import "./login.scss";
@import "./country_layout.scss";
